$dark: #2C1410;
*,
::after,
::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lora', serif;
    color: $dark;
    background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}
.header {
    background-color: #ffffff;
    &__inner {
        padding: 30px 0 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    &__logo {
        display: block;
        width: 180px;
        height: 37px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__call {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 65px;
        &--img {
            display: block;
            width: 30px;
            height: 30px;
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        &--item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin-left: 13px;
            &__number {
                display: block;
                color: $dark;
            }
            span {
                display: block;
                color: $dark;
            }
        }
    }
}
.title {
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    &--intro {
        margin-top: 15px;
        width: 481px;
        text-align: left;
    }
    &--program {
        position: relative;
        &::before {
            content: url('../img/program/program-art.svg');
            display: block;
            position: absolute;
            top: 15px;
            left: 60px;
        }
    }
    &--autor {
        text-align: left;
        margin-bottom: 70px;
    }
    &--buy {
        margin: 0 auto;
        width: 780px;
    }
}
.subtitle {
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    &--about {
        margin-bottom: 39px;
    }
    &--buy {
        text-align: center;
        margin-bottom: 34px;
    }
}
.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    &--intro {
        font-size: 20px;
        line-height: 23px;
        margin: 25px 0 40px 0;
        width: 420px;
    }
    &--item {
        text-align: center;
    }
    &--block {
        text-align: center;
    }
    &--header {
        margin-bottom: 30px;
        text-align: center;
        font-weight: 600;
    }
    &--about {
        margin-bottom: 25px;
    }
    &--autor {
        line-height: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
        &::before {
            content: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2230%22%20height%3D%2224%22%20viewBox%3D%220%200%2030%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0)%22%3E%0A%3Cpath%20d%3D%22M28.8777%201.12432C27.3826%20-0.37628%2024.9562%20-0.37628%2023.4611%201.12432L9.92183%2014.7214L6.53457%2011.3246C5.03948%209.82396%202.613%209.82396%201.11791%2011.3246C-0.377193%2012.8252%20-0.377193%2015.2618%201.11791%2016.7624L7.21105%2022.8807C8.70614%2024.3813%2011.1326%2024.3813%2012.6277%2022.8807L28.8777%206.57185C30.3728%205.0616%2030.3728%202.62975%2028.8777%201.12432ZM27.5248%205.20635C27.5248%205.20635%2011.5297%2021.2643%2011.2748%2021.52C10.5297%2022.2727%209.31399%2022.2727%208.56889%2021.52C8.56889%2021.52%202.43653%2015.3632%202.41693%2015.3439C1.72575%2014.5912%201.74536%2013.4138%202.47085%2012.6852C3.21595%2011.9325%204.43163%2011.9325%205.17673%2012.6852L9.91693%2017.4428L24.8189%202.485C25.564%201.73228%2026.7797%201.73228%2027.5248%202.485C28.2699%203.23771%2028.2699%204.45364%2027.5248%205.20635Z%22%20fill%3D%22%23C1A073%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%2230%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
            display: block;
            margin-right: 39px;
        }
    }
    &--inf {
        margin-bottom: 28px;
    }
    &--bold {
        font-weight: 600;
    }
}
.button {
    display: block;
    width: 279px;
    height: 75px;
    border: 1px solid #C1A073;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 45px;
    text-align: center;
    padding: 26px 0;
    font-size: 18px;
    color: $dark;
    &:hover {
        background: #EEE6DC;
        border: 1px #EEE6DC solid;
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
    }
    &:active {
        background: #C1A073;
        border: 1px #C1A073 solid;
        color: #ffffff;
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
    }
    &--intro {
        margin-top: 40px;
    }
    &--buy {
        margin: 0 auto;
    }
}
.intro {
    &__inner {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 46px;
        &::before {
            content: url('../img/intro/intro-art.svg');
            display: block;
            position: absolute;
            top: 24%;
            right: 58%;
        }
    }
    &__text {
        position: relative;
        &::before {
            content: url('../img/intro/ellips-brown.png');
            display: block;
            position: absolute;
            top: -25%;
            right: 0;
            z-index: -1;
        }
    }
    &__img {
        display: block;
        width: 580px;
        height: 580px;
    }
    &__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        &--item {
            margin-bottom: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        svg {
            margin-right: 20px;
            display: block;
            width: 42px;
            height: 35px;
        }
    }
}
.program {
    overflow: hidden;
    padding: 118px 0 70px 0;
    &__inner {
        position: relative;
        padding: 53px 0 30px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        &::before {
            content: url('../img/program/ellips-program.svg');
            display: block;
            position: absolute;
            right: -13%;
            top: -5%;
            z-index: -1;
        }
        &--item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            margin-bottom: 30px;
            width: 380px;
            height: 300px;
            background-color: #ffffff;
            padding: 50px 40px 25px 40px;
            border: 1px solid #C1A073;
            &:first-of-type {
                background-color: #C1A073;
                color: #ffffff;
            }
            &:last-of-type {
                background-color: #C1A073;
                color: #ffffff;
            }
        }
    }
}
.about {
    padding: 70px 0 120px 0;
    &__inner {
        margin-top: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &--item {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            width: 980px;
            padding: 69px 100px 0 100px;
            background-color: #EEE6DC;
            &::before {
                content: url('../img/about/about-img-1.svg');
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
            }
            &__left {
                margin-bottom: 30px;
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                width: 980px;
                padding: 50px 100px 98px 100px;
                background-color: #EEE6DC;
                &::after {
                    content: url('../img/about/about-img-2.svg');
                    display: block;
                    position: absolute;
                    top: 46%;
                    right: 5%
                }
            }
        }
    }
    &__text {
        margin-left: auto;
        width: 496px;
        &--left {
            width: 496px;
            margin-top: 33px;
        }
    }
    &__item {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 980px;
        padding: 69px 100px 0 100px;
        background-color: #ffffff;
        background-color: #ffffff;
        border-right: 2px #EEE6DC solid;
        border-left: 2px #EEE6DC solid;
        border-top: 2px #EEE6DC solid;
        &::before {
            content: url('../img/about/about-img-3.svg');
            display: block;
            position: absolute;
            top: 0;
            left: 25px;
            z-index: 1000;
        }
        &--left {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            width: 980px;
            padding: 50px 100px 98px 100px;
            background-color: #ffffff;
            border-right: 2px #EEE6DC solid;
            border-left: 2px #EEE6DC solid;
            border-bottom: 2px #EEE6DC solid;
            &::after {
                content: url('../img/about/about-img-4.svg');
                display: block;
                position: absolute;
                bottom: -5px;
                right: 1%
            }
        }
    }
}
.autor {
    overflow: hidden;
    background-color: #EEE6DC;
    padding: 70px 0 100px 0;
    &__inner {
        position: relative;
        padding: 0 100px;
        &::before {
            content: url('../img/autor/autor-img-r.svg');
            display: block;
            position: absolute;
            left: 0;
            bottom: 57px;
        }
        &::after {
            content: url('../img/autor/autor-img-l.svg');
            display: block;
            position: absolute;
            right: -62px;
            top: 49px; 
        }
    }
    &__text {
        position: relative;
        margin-left: auto;
        width: 580px;
        padding: 42px 58px 60px 55px;
        background-color: #ffffff;
        z-index: 100;
    }
    &__img {
        display: block;
        position: absolute;
        width: 518px;
        right: 630px;
        bottom: -100px;
        z-index: 1;
    }
}
.inf {
    overflow: hidden;
    position: relative;
    padding: 209px 0 130px 0;
    &__text {
        width: 480px;
        margin: 0 auto;
        &::before {
            content: url('../img/inf/inf-img-1.svg');
            display: block;
            position: absolute;
            top: 10%;
            right: 70%;
            z-index: -1;
        }
        &::after {
            content: url('../img/inf/inf-img-2.svg');
            display: block;
            position: absolute;
            bottom: 17%;
            left: 70%;
            z-index: -1;
        }
    }
}
.buy {
    padding: 0 0 90px 0;
    &__inner {
        padding: 75px 0 40px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        &--item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 48%;
            padding: 60px 85px;
            border: 1px solid #C1A073;
        }
        &--price {
            &__last {
                margin-bottom: 28px;
                margin-top: auto;
                position: relative;
                display: block;
                text-align: center;
                color: #2C1410;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 45%;
                    right: 50%;
                    -webkit-transform: translateX(50%);
                        -ms-transform: translateX(50%);
                            transform: translateX(50%);
                    width: 241px;
                    height: 3px;
                    background-color: #2C1410;
                }
            }
            &__new {
                display: block;
                margin-bottom: 60px;
                font-weight: 600;
                text-align: center;
                color: #C1A073;
            }
        }
    }
    small {
        display: block;
        margin: 0 auto 10px auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #2C1410; 
        .link {
            color: #C1A073;
            &:hover {
                color: $dark;
                transition: .2s linear;
            }
        }
    }
}
.footer {
    background-color: #ffffff;
    padding: 30px 0 90px 0;
    &__inner {
        margin-top: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &--text {
            font-family: 'Lora';
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: $dark;
        }
        &--email {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #C1A073;
            text-decoration: underline;
            &:hover {
                color: #EEE6DC;
                -webkit-transition: .2s linear;
                -o-transition: .2s linear;
                transition: .2s linear;
            }
        }
    }
    &__link {
        margin: 60px auto 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 550px;
        &--item {
            display: block;
            width: 65px;
            height: 65px;
            fill: #C1A073;
            &:hover {
                fill: #EEE6DC;
                -webkit-transition: .2s linear;
                -o-transition: .2s linear;
                transition: .2s linear;
            }
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (max-width: 1366px) {
    .inf {
        &__text {
            &::before {
                left: 8%;
            }
            &::after {
                right: -1%;
            }
        }
    }
}
@media (max-width: 1112px) {
    .container {
        padding: 0 1%;
    }
    .intro {
        &__img {
            width: 100%;
            height: auto;
        }
    }
    .program {
        padding: 118px 0 70px 0;
        &__inner {
            position: relative;
            padding: 53px 0 30px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            &::before {
                display: none;
            }
            &--item {
                width: 32%;
                height: 300px;
            }
        }
    }
    .buy {
        &__inner {
            &--item {
                padding: 60px 65px;
            }
        }
    }
    .inf {
        &__text {
            &::before {
                content: url('../img/inf/inf-mob-1.svg');
                top: 10%;
                left: 10%;
            }
            &::after {
                content: url('../img/inf/inf-mob-2.svg');
                right: 10%;
                bottom: 5%;
                left: auto;
            }
        }
    }
}
@media (max-width: 991px) {
    .header {
        &__call {
            display: none;
        }
        &__inner {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }
    .intro {
        &__inner {
            padding-top: 30px;
        }
    }
    .autor {
        &__text {
            width: 70%;
        }
        &__img {
            right: 586px;
        }
    }
    .about {
        &__inner {
            &--item {
                width: 100%;
                &__left {
                    width: 100%;
                }
            }
        }
        &__item {
            width: 100%;
            &--left {
                width: 100%;
            }
        }
    }
}
@media (max-width: 834px) {
    .container {
        padding: 0 3%;
    }
    .title {
        &--intro {
            width: auto;
            text-align: center;
        }
        &--program {
            &::before {
                display: none;
            }
        }
        &--autor {
            text-align: center;
        }
        &--buy {
            width: auto;
            text-align: center;
        }
    }
    .text {
        &--intro {
            width: auto;
        }
        &--block {
            text-align: left;
        }
        &--telegram {
            width: 200px;
        }
    }
    .intro {
        &__inner {
            position: static;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding-top: 46px;
            &::before {
                display: none;
            }
        }
        &__text {
            position: static;
            text-align: center;
            &::before {
                display: none;
            }
        }
        &__block {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            &--item {
                display: block;
                width: 250px;
                margin: 0 auto 20px auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
        }
        &__img {
            margin-top: 30px;
            width: 80%;
        }
    }
    .program {
        &__inner {
            &--item {
                width: 48%;
                height: auto;
            }
        }
    }
    .autor {
        overflow: hidden;
        background-color: #EEE6DC;
        padding: 70px 0 0 0;
        &__inner {
            position: static;
            margin-top: 70px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 0;
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }
        &__text {
            position: static;
            margin-left: 0;
            height: auto;
        }
        &__img {
            display: block;
            position: static;
        }
    }
    .buy {
        &__inner {
           -webkit-box-orient: vertical;
           -webkit-box-direction: normal;
               -ms-flex-direction: column;
                   flex-direction: column;
           -webkit-box-align: center;
               -ms-flex-align: center;
                   align-items: center;
           &--item {
               width: 80%;
               margin-bottom: 30px;
               padding: 60px 80px;
               &:last-of-type {
                   margin-bottom: 0;
               }
           }
        }
    }
    .inf {
        &__text {
            &::before {
                top: 1%;
                left: 1%;
            }
            &::after {
                right: 1%;
                bottom: 5%;
            }
        }
    }
    .about {
        &__inner {
            &--item {
                padding: 500px 0 0 0;
                &__left {
                    padding: 30px 0 250px 0;
                    &::after {
                        top: 60%;
                    }
                }
            }
        }
        &__item {
            padding: 350px 0 0 0;
            &--left {
                padding: 30px 0 280px 0;
            }
        }
        &__text {
            width: auto;
            margin-left: 0;
            padding: 0 15%;
            &--left {
                width: auto;
                margin-right: 0;
                padding: 0 15%;
            }
        }
    }
}
@media (max-width: 768px) {
    .footer {
        &__link {
            &--item {
                width: 50px;
                height: 50px;
            }
        }
    }
    .about {
        &__inner {
            &--item {
                padding: 365px 0 0 0;
                &::before {
                    content: url('../img/about/about-mob-1.svg');
                }
                &__left {
                    padding: 30px 0 190px 0;
                    &::after {
                        content: url('../img/about/about-mob-2.svg');
                        top: 69%;
                    }
                }
            }
        }
        &__item {
            padding: 170px 0 0 0;
            &::before {
                content: url('../img/about/about-mob-3.svg');
            }
            &--left {
                padding: 30px 0 130px 0;
                &::after {
                    content: url('../img/about/about-mob-4.svg');
                }
            }
        }
    }
}
@media (max-width: 667px) {
    .program {
        &__inner {
            &--item {
                padding: 50px 25px;
            }
        }
    }
    .autor {
        &__text {
            width: 90%;
        }
        &__img {
            width: 400px;
        }
    }
    .footer {
        &__link {
            width: 70%;
        }
    }
    .inf {
        padding: 280px 0;
        &__text {
            width: 70%;
        }
    }
}
@media (max-width: 568px) {
    .title {
        font-size: 32px;
        line-height: 38px;
        &--autor {
            margin-bottom: 42px;
            padding-top: 40px;
        }
    }
    .text {
        font-size: 16px;
        line-height: 28px;
        &--intro {
            margin: 20px 0;
        }
        &--autor {
            margin-bottom: 28px;
        }
        &--about {
            margin-bottom: 10px;
        }
        &--telegram {
            width: 124px;
        }
    }
    .subtitle {
        font-size: 22px;
        line-height: 28px;
        &--about {
            margin-bottom: 23px;
        }
    }
    .button {
        &--intro {
            margin-top: 15px;
        }
    }
    .intro {
        &__inner {
            padding-top: 0;
        }
        &__block {
            &--item {
                width: auto;
                justify-content: center;
            }
        }
    }
    .program {
        padding: 45px 0 30px 0;
        &__inner {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            &--item {
                width: 80%;
            }
        }
    }
    .autor {
        padding: 0;
        background-color: #ffffff;
        &__inner {
            margin-top: 50px;
            background-color: #EEE6DC;
        }
        &__text {
            padding: 0 30px;
            background-color: #EEE6DC;
        }
        &__img {
            margin-top: 20px;
            width: 300px;
            margin-left: auto;
        }
    }
    .buy {
        padding: 0 0 30px 0;
        &__inner {
            padding: 40px 0;
           &--item {
               width: 90%;
               margin-bottom: 30px;
               padding: 53px 20px 50px 20px;
               &:last-of-type {
                   margin-bottom: 0;
               }
            }
            &--price {
                &__last {
                    margin-bottom: 25px;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 45%;
                        right: 50%;
                        -webkit-transform: translateX(50%);
                            -ms-transform: translateX(50%);
                                transform: translateX(50%);
                        width: 170px;
                        height: 1px;
                        background-color: #2C1410;
                    }
                }
                &__new {
                    font-size: 36px;
                }
            }
        }
        small {
            width: auto;
            text-align: center;
            font-size: 12px;
        }
    }
    .about {
        padding: 70px 0 0 0;
        &__text {
            padding: 0 10%;
            &--left {
                padding: 0 10%;
            }
        }
    }
}
@media (max-width: 414px) {
    .text {
        &--autor {
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            &::before {
                content: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2216%22%20viewBox%3D%220%200%2020%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0)%22%3E%0A%3Cpath%20d%3D%22M19.2519%200.749081C18.2552%20-0.251321%2016.6375%20-0.251321%2015.6408%200.749081L6.61463%209.81382L4.35646%207.54924C3.35973%206.54884%201.74208%206.54884%200.745352%207.54924C-0.25138%208.54964%20-0.25138%2010.1741%200.745352%2011.1745L4.80744%2015.2533C5.80418%2016.2537%207.42182%2016.2537%208.41856%2015.2533L19.2519%204.38077C20.2486%203.37393%2020.2486%201.7527%2019.2519%200.749081ZM18.3499%203.47043C18.3499%203.47043%207.68653%2014.1757%207.5166%2014.3462C7.01986%2014.848%206.20941%2014.848%205.71267%2014.3462C5.71267%2014.3462%201.62444%2010.2416%201.61137%2010.2288C1.15058%209.72697%201.16365%208.94208%201.64731%208.45636C2.14405%207.95455%202.9545%207.95455%203.45124%208.45636L6.61137%2011.6281L16.546%201.6562C17.0427%201.15439%2017.8532%201.15439%2018.3499%201.6562C18.8467%202.15801%2018.8467%202.96862%2018.3499%203.47043Z%22%20fill%3D%22%23C1A073%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%2220%22%20height%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E');
                margin-right: 10px;
            }
        }
    }
    .header {
        &__logo {
            width: 99px;
            height: 20px;
        }
    }
    .button {
        width: 290px;
        height: 65px;
        padding: 20px 0;
    }
    .autor {
        &__img {
            width: 300px;
        }
        &__text {
            width: 100%;
        }
    }
    .footer {
        &__link {
            margin: 25px auto 0 auto;
            &--item {
                width: 30px;
                height: 30px;
            }
        }
        &__inner {
            &--text {
                font-size: 17px;
                line-height: 20px;
            }
            &--email {
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
    .about {
        &__item {
            &--left {
                padding: 30px 0 170px 0;
            }
        }
    }
    .inf {
        &__text {
            &::before {
                top: 3%;
                left: 4%;
            }
            &::after {
                right: 4%;
                bottom: 5%;
                left: auto;
            }
        }
    }
}
@media (max-width: 375px) {
    .title {
        &--buy {
            padding: 0 4%;
        }
    }
    .text {
        &--intro {
            line-height: 20px;
        }
    }
    .program {
        &__inner {
            &--item {
                width: 98%;
            }
        }
    }
    .autor {
        &__img {
            width: 215px;
        }
    }
    .buy {
        &__inner {
            &--item {
                width: 100%;
            }
        }
    }
    .inf {
        padding: 280px 0;
        &__text {
            width: 80%;
        }
    }
}
@media (max-width: 320px) {
    .title {
        &--buy {
            padding: 0 3%;
        }
    }
    .text {
        &--intro {
            padding: 0 4%;
        }
    }
    .intro {
        &__img {
            width: 288px;
            height: 288px;
        }
    }
    .buy {
        &__inner {
            &--item {
                padding: 50px 20px;
            }
        }
    }
    .button {
        &--buy {
            width: 260px;
            height: 65px;
        }
    }
    .about {
        &__inner {
            &--item {
                &__left {
                    &::after {
                        top: 73%;
                    }
                }
            }
        }
    }
}